
<script src="https://vjs.zencdn.net/7.10.2/video.js" async></script>

<form action="/devadmin/sample" method="POST">

    <label for="tags">Tags (comma-separated):</label>
    <input type="text" id="tags" name="tags" placeholder="Enter tags, e.g., 1882598588204896722,1882598588204896721" >
    <button type="submit">Submit</button>
 
</form>

<video id="my-video1" class="video-js vjs-default-skin" controls>
    <source src="https://video.twimg.com/amplify_video/1882003484985450496/pl/qXSSU2u5pbrMtLQP.m3u8?tag=16&v=a31" type="application/x-mpegURL" class="lazy-photo">
</video> 

<script>
            // Initialize Video.js Player
            var player = videojs('my-video');
        var player = videojs('my-video1');
</script>