<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google Tag Manager -->
        <script async>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
              'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
              j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
          })(window, document, 'script', 'dataLayer', 'GTM-5VRBV3N');</script>
        <!-- End Google Tag Manager -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/images/logo/dramalite-icon.png" type="image/x-icon">
        <!-- <link rel="apple-touch-icon" sizes="180x180" href="/images/logo/dramalite-icon.png">
        <link rel="icon" href="/images/logo/dramalite-icon.png" type="image/x-icon"> -->
        <link rel="icon" sizes="32x32" href="/images/logo/dramalite-icon.png" type="image/x-icon">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/logo/dramalite-icon.png">
        <link rel="stylesheet" href="/css/style.css">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
      
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff"> -->
        <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.1/dist/lazyload.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      </head>
<body>


    <div class="blue-header">
        <h1>
            Saniya
        </h1>
    </div>





    <div>

        <img style="width: 320px;" src="/images/actor/Shinweb.webp" alt="" srcset="">
    </div>
</body>
</html>
