
<style>
 /* === AdSense Fix === */
.ad-container {
  width: 100%;
  overflow: hidden;
  margin: 24px 0;
  display: block;
  clear: both;
}

/* In-article ads */
.ad-in-article {
  min-height: 250px; /* VERY IMPORTANT */
}

/* Mobile safety */
@media (max-width: 768px) {
  .ad-in-article {
    min-height: 280px;
  }
}

</style>


<div class="ad-container ad-in-article">
    
    <ins class="adsbygoogle"
    style="display:block; text-align:center;"
    data-ad-layout="in-article"
    data-ad-format="fluid"
    data-ad-client="ca-pub-6183162891331331"
    data-ad-slot="9469949808"></ins>
</div>    
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> 